[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/keithwbacon
[access "refs/for/refs/*"]
	read = group user/keithwbacon
	push = group user/keithwbacon
	label-Code-Review = -2..+2 group user/keithwbacon
	label-Verified = -1..+1 group user/keithwbacon
	rebase = group user/keithwbacon
	removeReviewer = group user/keithwbacon
	submit = group user/keithwbacon
[access "refs/heads/*"]
	read = group user/keithwbacon
	create = group user/keithwbacon
	push = +force group user/keithwbacon
	pushMerge = group user/keithwbacon
[access "refs/tags/*"]
	push = +force group user/keithwbacon
	pushTag = group user/keithwbacon
	pushSignedTag = group user/keithwbacon
