<p>Dear <b>{{ firstName }} {{ lastName }}</b>, <br />
SOAJS administrator has created an account for you on {{ ts|date('F jS, Y') }}<br />
Please click the following link to set a password to your account: <a href='{{ link.addUser }}'>{{ link.addUser }}</a>.<br /><br />
Please note you can change your username and/or password in the 'My Account' section after you login.<br /><br />
Regards,<br/>
SOAJS Team.
</p>