<p>Dear <b>{{ username }}</b>, <br />
You have requested to reset your password.<br />
Please click the following link to proceed: <a href='{{ link.forgotPassword }}'>{{ link.forgotPassword }}</a>.<br />
Please note that the above link will expire in {{ limit }} hours.<br /><br />
Regards,<br/>
SOAJS Team.
</p>