<p>Dear <b>{{ username }}</b>, <br />
This is an automated email to confirm your registration at SOAJS.<br />
Please click the following link to confirm your account <a href='{{ link.join }}'>{{ link.join }}</a>.<br />
Please note that this link will expire in {{ limit }} hours.<br /><br />
Regards,<br/>
SOAJS Team.
</p>